{% extends 'base.html' %}

{% set title = 'Editar Producto' %}

{% block content %}
  <!--begin::Subheader-->
  <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <!--begin::Info-->
      <div class="d-flex align-items-center flex-wrap mr-2">
        <!--begin::Page Title-->
        <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Productos</h5>
        <!--end::Page Title-->
      </div>
      <!--end::Info-->
    </div>
  </div>
  <!--end::Subheader-->
  <!--begin::Entry-->
  <div class="row">
    <div class="col-md-6 ml-10">
        <div class="card card-custom card-stretch gutter-b">
            <!--begin::Header-->
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">Editar producto</span>
                </h3>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <form id="form">
                <div class="card-body py-0">
                    <div class="form-group">
                        <label>Nombre <span class="text-danger">*</span></label>
                        <input type="text" name="name" value={{ product.name }} id="name" class="form-control" placeholder="Ingresa el nombre">
                    </div>
                    <div class="form-group">
                        <label>Precio<span class="text-danger">*</span></label>
                        <input type="number" name="price" value={{ product.price }} id="price" class="form-control" placeholder="Ingresa el precio">
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1">Categoría <span class="text-danger">*</span></label>
                        <select class="form-control" name="categoryId" id="category">
                            {% for cat in categories %}
                                <option value={{ cat.id }} {{ "selected" if cat.id === product.categoryId }}>{{ cat.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea">Descripción<span class="text-danger">*</span></label>
                        <textarea class="form-control" name="description" id="description" rows="3">{{ product.description }}</textarea>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label text-lg-right">Upload File:</label>
                        <div class="col-lg-6">
                            <input type="file" id="file-input" accept="image/png, image/jpeg" onchange="preview()" multiple />
                            <span class="form-text text-muted">Max file size is 1MB and max number of files is 5.</span><p id="num-of-files">No Files Chosen</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div id="images"></div>
                    </div>
                    <button type="submit" id="sendBtn" class="btn btn-bg-primary">Crear</button>
                </div>
            </form>
            <!--end::Body-->
        </div>

    </div>
  </div>
  <script src="imageUpload.js"></script>
  <script>
    const f = document.getElementById("form");
    const name = document.getElementById('name');
    const description = document.getElementById('description');
    const price = document.getElementById('price');
    const category = document.getElementById('category');
    const sendBtn = document.getElementById('sendBtn');
    f.addEventListener('submit', function(e) {
        e.preventDefault();
    })

    sendBtn.addEventListener('click', async () => {
        const form = new FormData(f)
        console.log(form.get('name'));
        const res = await fetch('/productos/crear', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json'},
            body: JSON.stringify({
                name: name.value,
                price: price.value,
                description: description.value,
                categoryId: category.value
            })
        })
        if (res.status === 201) {
            window.location.href = '/productos';
        }
    });

  </script>
  <!--end::Entry-->
{% endblock %}