{% extends 'cliente/base.html' %}

{% set title = 'Inicio' %}

{% block content %}
        <!--- inicio --->
        <section class="section inicio" id="inicio">
            <div class="home__container container grid">
                <img src="auxiliar/camion3.png" alt="image" class="home__img">
                <div class="home__data">
                    <h1 class="home__title">
                        TRACTO MAQUINARIA <br>
                        <span>VARIEDAD</span> PARA <br>
                        TU NEGOCIO <br>
                    </h1>
                    <p class="home__description">
                        Ofrecemos una amplia gama de tractomaquinaria
                        para tus proyectos, con la mejor calidad y variedad.
                    </p>
                    <div class="home__buttons">
                        <a href="/inventario" class="button">
                            <span>
                                <i class="ri-arrow-right-line"></i>
                            </span>
                            VER INVENTARIO
                        </a>
                        <a href="#" class="button__link">MAS DETALLES</a>
                    </div>
                </div>
            </div>
        </section>

        <!--- informacion --->
        <section class="section Informacion" id="informacion">
            <div class="new__container container grid">
                <div class="new__data">
                    <h2 class="section__title">
                        NUEVAS MÁQUINAS PARA <br> TU NEGOCIO
                    </h2>
                    <p class="new__description">
                        La tienda ofrece maquinaria industrial de alta calidad y tecnología
                        avanzada para diversos sectores. Expertos están disponibles para asesorar
                        en la selección de equipos adecuados.                    </p>

                </div>
                <div class="new__content grid">
                    {% for prod in recientes %}
                    <article class="new__card">
                        <img src="{{ uploadsURL }}/{{ prod.images[0].url }}" alt="image" class="shop__img card__img" style="width: 90%; height: 100px;">
                        <h3 class="new__title">{{ prod.name }}</h3>
                    </article>
                    <!-- <a href="/inventario/producto/{{ prod.id}}"> -->
                    <!-- </a> -->
                {% endfor %}
                    <!-- <article class="new__card">
                        <img src="auxiliar/camion3.png" alt="image" class="new__img">
                        <h2 class="new__title">Gymnocalycium Cactus</h2>
                    </article>

                    <article class="new__card">
                        <img src="auxiliar/camion4.png" alt="image" class="new__img">
                        <h2 class="new__title">Lily Pad Succulent</h2>
                    </article>

                    <article class="new__card">
                        <img src="auxiliar/camion2.png" alt="image" class="new__img">
                        <h2 class="new__title">Rebutia Cactus</h2>
                    </article> -->
                </div>

            </div>
        </section>

        <!--- tienda --->
        <section class="section tienda" id="tienda">
            <h2 class="section__title">
                RECIENTES
            </h2>
            <div class="shop__container container grid" id="catalogo">
                {% for prod in recientes %}
                    <a href="/inventario/producto/{{ prod.id}}">
                        <article class="shop__card">
                            <img src="{{ uploadsURL }}/{{ prod.images[0].url }}" alt="image" class="shop__img card__img">
                            <h3 class="shop__title">{{ prod.name }}</h3>
                            <h5 class="shop__subtitle" style="margin-bottom: 10px;">${{ prod.price }}</h5>
                            <button class="shop__button">
                                <i class="ri-eye-fill"></i>
                            </button>
                            <span class="shop__badge">{{ prod.category.name }}</span>
                        </article>
                    </a>
                {% endfor %}
            </div>
        </section>
        <!--- empresa --->
        <section class="section empresa" id="empresa">
            <h2 class="section__title">
                RAZONES PARA ESCOGERNOS
            </h2>
            <div class="care__container container grid">
                <img src="auxiliar/imagen5.png" alt="image" class="care__img">
                <ul class="care__list">
                    <li class="care__item">
                        <i class="ri-checkbox-fill"></i>
                        <p>
                            Seguridad y Confianza <br>
                            Nuestra empresa se compromete a garantizar la seguridad
                            y la confiabilidad en cada envío que realizamos.
                        </p>
                    </li>

                    <li class="care__item">
                        <i class="ri-checkbox-fill"></i>
                        <p>
                            Precios Competitivos y Transparencia <br>
                            Creemos en la transparencia en los precios y ofrecemos tarifas competitivas sin costos ocultos.
                        </p>
                    </li>

                    <li class="care__item">
                        <i class="ri-checkbox-fill"></i>
                        <p>
                            Atención al Cliente Personalizada   <br>
                             Nuestro equipo está disponible para resolver tus preguntas y ofrecer soluciones adaptadas a tus necesidades.
                        </p>
                    </li>

                    <li class="care__item">
                        <i class="ri-checkbox-fill"></i>
                        <p>
                            Eficiencia y Fiabilidad<br>
                            Historial de entregas puntuales y exitosas, asegurando cumplimiento de plazos de entrega.
                        </p>
                    </li>

                    <li class="care__item">
                        <i class="ri-checkbox-fill"></i>
                        <p>
                            Compromiso Ambiental<br> Implementamos prácticas de transporte sostenibles y opciones ecológicas para clientes conscientes del medio ambiente.

                        </p>
                    </li>
                </ul>
            </div>
        </section>

 {% endblock %}