{% extends 'cliente/base.html' %}

{% set title = 'Producto' %}

{% block content %}
        <!-- Producto  -->
        <section class="section tienda" id="tienda">
            <h2 class="section__title">
                Detalles de producto
            </h2>
            <div class="product">
                <div class="images">
                    <div class="focus__image">
                        <img src="{{ uploadsURL }}/{{ product.images[0].url}}" id="focus-img" alt="Imagen del producto">
                    </div>
                    <div class="mini__images">
                        {% for img in product.images %}
                            <img data-image="{{ loop.index }}" onclick="changeImage(this)" src="{{ uploadsURL }}/{{ img.url }}" alt="Imagen del producto" />
                        {% endfor %}
                    </div>
                </div>
                <div class="product__info">
                    <h3 class="product__title">{{ product.name }}</h3>
                    <h5 class="product__subtitle" style="margin-bottom: 10px;">${{ product.price }}</h5>
                    <p class="product__desc">{{ product.description }}</p>
                    <p class="product__desc"><b>Categoria:</b> {{ product.category.name }}</p>

                </div>
            </div>
        </section>

    <script>
        function changeImage(element) {
            const imgId = element.getAttribute('data-image')
            const image = document.getElementById('focus-img')
            image.src = element.getAttribute('src')
        }
    </script>
{% endblock %}